@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}

body {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: black url('imagens/fundo-madeira.jpg') center bottom no-repeat fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}
#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('imagens/frame-iphone.png');
    background-repeat: no-repeat;
    background-size:contain;
    width: 250px;
    height: 500px;
}
iframe {
    position: relative;
    top: 12.5%;
    left: 7%;
    width: 213px;
    height: 376px;
}
section#menu {
    text-align: right;
}
section#menu > a > img {
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.411);
    box-sizing: border-box;
}
section#menu > a > img:hover {
    border: 2px solid rgba(255, 255, 255, 0.61);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.527);
    transition: transform 0.3s, border 0.3s, box-shadow 0.5s;
}